### RCS Python Anonymous/Lambda Functions, Map, Filter, Reduce

## Another set of hammers in our list of tools
![Hammer](./img/1200px-Claw-hammer.jpg)

## Lambda Expressions
* Small anonymous functions can be created with the lambda keyword.  
* Lambda functions can be used wherever function objects are required. 
* Lambda functions are syntactically restricted to a single expression. (normal statements if,while,for won't work)
* **Semantically, they are just syntactic sugar for a normal function definition.**  
* Like nested function definitions, lambda functions can reference variables from the containing scope:

In [8]:
## Normal function
def myfun(x):
    return x+5

In [9]:
myfun(33)

38

In [10]:
# We write an anonymous function and assign it to a new variable
myfun2 = lambda x: x+5

In [11]:
myfun2(33)

38

In [12]:
type(myfun2)

function

# What is the difference between an expression(allowed in lambda) and statements(not necessarily allowed) in lambda?

### Expressions only contain identifiers, literals and operators, where operators include arithmetic and boolean operators, the function call operator () the subscription operator [] and similar, and can be reduced to some kind of "value", which can be any Python object
### Statements are everything that can make up a line (or several lines) of Python code. Note that expressions are statements as well

In Python 2.x print coudn't be used in lambda functions, in 3.x it can

In [13]:
pr = lambda txt: print(txt,f'Formatted:{txt}')

In [14]:
pr("oh my")

oh my Formatted:oh my

In [ ]:
## If you want multiple line lambdas there are all kind of ugly hacks which we will not discuss :)

In [15]:
def make_inc(n):
    def f(x):
        return x + n
    return f

In [16]:
myf= make_inc(10)

In [18]:
myf(42)

52

In [19]:
myf2= make_inc(25)

In [20]:
myf2(22)

47

In [21]:
def make_incr(n):
    return lambda x: x + n

In [22]:
f = make_incr(10)

In [23]:
f(33)

43

In [ ]:
## Another use is to pass a small function as an argument (very frequent use)

In [24]:
sorted("This is a test string from Alice and Bob for Carol".split())

['Alice',
 'Bob',
 'Carol',
 'This',
 'a',
 'and',
 'for',
 'from',
 'is',
 'string',
 'test']

In [ ]:
# what if we want to sort by alphabet not caring about Capitalization 
# we want to KEEP the Capitalization but sort it as it does not exist!
# HINT: Shift Tab on sorted and notice Key=None attribute

In [42]:
sorted("This is a test string from alice Alice alice and Bob for Carol".split(), key = lambda word: (word.lower(), word[0].isupper()))

['a',
 'alice',
 'alice',
 'Alice',
 'and',
 'Bob',
 'Carol',
 'for',
 'from',
 'is',
 'string',
 'test',
 'This']

In [40]:
# Same thing as word
def mylow(word):
    if word == word.lower():
        return "0"+word.lower()
    else:
        return "1"+word.lower()

sorted("This is a test string from alice Alice alice and Bob for Carol".split(), key = mylow)

['a',
 'alice',
 'alice',
 'and',
 'for',
 'from',
 'is',
 'string',
 'test',
 'Alice',
 'Bob',
 'Carol',
 'This']

In [27]:
# here was an alternative we did not need lambda
sorted("This is a test string from Alice and Bob for Carol".split(), key = str.lower)

['a',
 'Alice',
 'and',
 'Bob',
 'Carol',
 'for',
 'from',
 'is',
 'string',
 'test',
 'This']

In [28]:
adder = lambda a,b: a+b

In [29]:
adder(5,9)

14

### How about sorting by last  char of each word?

In [33]:
sorted("This is a test string from Alice and Bob for Carol".split(), key = str.reverse) #this won't work

AttributeError: type object 'str' has no attribute 'reverse'

In [34]:
sorted("This is a test string from Alice and Bob for Carol".split(), key = x[::-1])

NameError: name 'x' is not defined

In [36]:
sorted("This is a test string from Alice and Bob for Carol".split(), key = lambda word : word[::-1])

['a',
 'Bob',
 'and',
 'Alice',
 'string',
 'Carol',
 'from',
 'for',
 'is',
 'This',
 'test']

In [38]:
sorted("This is a test string from Alice and Bob for Carol".split(), key = lambda word : word[0].lower())

['a',
 'Alice',
 'and',
 'Bob',
 'Carol',
 'from',
 'for',
 'is',
 'string',
 'This',
 'test']

In [ ]:
sorted("This is a test string from Alice and Bob for Carol".)

In [51]:
pairs = [(66,'sixty-six'),(1, 'one'), (200, 'two'), (3, 'three'), (46, 'four'),(1,"notreallyone"),(1,"ZeONE"),(1,"zeone"),(1,"ZeONE")]

In [47]:
# Sorting in place!
pairs.sort(key=lambda pair: (len(str(pair[0])), pair[0]))
pairs

[(1, 'one'), (3, 'three'), (46, 'four'), (66, 'sixty-six'), (200, 'two')]

In [55]:
pairs.sort(key=lambda pair: (pair[0], pair[1]))
pairs

[(1, 'ZeONE'),
 (1, 'ZeONE'),
 (1, 'notreallyone'),
 (1, 'one'),
 (1, 'zeone'),
 (3, 'three'),
 (46, 'four'),
 (66, 'sixty-six'),
 (200, 'two')]

In [ ]:
# What will be the result now ?

In [46]:
pairs

[(1, 'one'), (3, 'three'), (66, 'sixty-six'), (46, 'four'), (200, 'two')]

In [ ]:
# We could have used a predefined function but often it makes code less readable

In [ ]:
## MAP map(function, iterable, ...)
### Return an iterator that applies function to every item of iterable, yielding the results. 
### If additional iterable arguments are passed, function must take that many arguments
### and is applied to the items from all iterables in parallel. 
### With multiple iterables, the iterator stops when the shortest iterable is exhausted.

In [ ]:
## map() is a function with two arguments:
# r = map(func, seq)

In [56]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = list(map(lambda x: (float(9)/5)*x + 32, Celsius)) # list needs to be added in Python 3.x , wasnot needed in 2.x

In [ ]:
# The idea in 3.x is to return iterable whenever possible

In [57]:
Fahrenheit

[102.56, 97.7, 99.14, 100.03999999999999]

In [58]:
mystr=list(map(str, range(20)))
mystr

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19']

In [60]:
list(map(lambda el:el*3, range(10)))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [61]:
[x*3 for x in range(10)]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [62]:
mylist=[]
for x in range(10):
    mylist.append(x*3)
mylist

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [67]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda el: el % 2 == 0, fib)
list(result)
# Will filter (grab) those values of X for which lambda expression returns true in this case it means an odd number(1 == True)

[0, 2, 8, 34]

In [68]:
mylst=[]
for el in fib:
    if el % 2 == 0:
        mylst.append(el)
mylst

[0, 2, 8, 34]

In [69]:
[x for x in fib if x % 2 ==0 ]

[0, 2, 8, 34]

In [34]:
result

In [35]:
res=list(result)
res

[1, 1, 3, 5, 13, 21, 55]

In [70]:
evensquare = list(map(lambda x: x**2, filter(lambda x: not x % 2, range(1,10))))

In [71]:
evensquare

[4, 16, 36, 64]

In [44]:
evsq = (map(lambda x: x**2, filter(lambda x: not x % 2, range(1,10))))

In [48]:
list(evsq)

[4, 16, 36, 64]

In [39]:
evensquare

[4, 16, 36, 64]

In [72]:
## Use List Comprehensions instead! 
[x**2 for x in range(1,10) if not x % 2]

[4, 16, 36, 64]

In [73]:
# Filter with List Comprehension
[x for x in range(1,20) if not x % 2]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [43]:
# Map with List Comprehension
[x**2 for x in range (1, 15)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [75]:
def sq(x):
    return x**2

In [81]:
# This will not get us values!
s=[sq for x in range (1,15)]
# we made a list of functions!
s

[<function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>,
 <function __main__.sq>]

In [82]:
s[3](10)

100

In [50]:
x

NameError: name 'x' is not defined

In [49]:
# List Comprehensions used to leak local variables before 3.x


### For simple transformations that can be expressed as a list comprehension, use list comprehensions over map() or filter(). 
 
#### Use map() or filter() for expressions that are too long or complicated to express with a list comprehension.

In [ ]:
## How could we rewrite map and filter together to be similar to list comprehension?

<center><h1>Reduce - apply function, accumulate result</h1></center>

In [91]:
res = range(1,10)

In [92]:
sum(res)

45

### The function reduce(func, seq) continually applies the function func() to the sequence seq. It returns a single value.

In [87]:
import functools

In [93]:
functools.reduce(lambda x, y: x*y, res)

362880

In [ ]:
# reduce requires functools standard library

In [58]:
import functools

In [94]:
res = range(1,10)
print(list(res))
functools.reduce(lambda x, y: x+y, res)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

45

In [96]:
mystr

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19']

In [95]:
functools.reduce(lambda x,y: x+y, filter(lambda x: int(x) % 2, mystr))

'135791113151719'

In [76]:
max(mystr)

'9'

In [62]:
sum(res)

45

In [ ]:
### So how does Reduce work?

In [97]:
def myfun(x, y):
    print(f'X{x}')
    print(f'Y{y}')
    return x+y

In [98]:
functools.reduce(myfun, [23,42,10,30])

X23
Y42
X65
Y10
X75
Y30

105

In [99]:
acc=0
for el in [23,42,10,30]:
    acc+=el
acc

105

In [68]:
functools.reduce(lambda x,y: x*y, [23,42,10,30])

289800

![Reduce](ReduceSlide.png)

In [ ]:
## How about max value in the list?

In [100]:
min(res),max(res)

(1, 9)

In [ ]:
# Curses foiled again! min AND max is built in
# stil how about using reduce to solve this?

In [101]:
# gettting too lazy to type functools all over again
# should have done this from the start
from functools import reduce

In [102]:
f = lambda a,b: a if (a>b) else b
# we use ternary expression here too which is something rarely used in Python
reduce(f, res)

9

In [103]:
def findmax(alist):
    if len(alist) == 0:
        return None
    max=alist[0]
    for el in alist:
        if el > max:
            max = el
    return max

In [106]:
reduce(lambda acc, el: acc+el*2, "Valdis")

'Vaallddiiss'

In [84]:
findmax([3,6,2,777,2222,3,3,5,7])

2222

In [86]:
findmax((3,67,22,666,67))

666

In [81]:
max(res)

9

## Ternary Operator
[on_true] if [expression] else [on_false]

In [107]:
x, y = 50, 25
small = x if x < y else y
small

25

In [109]:
if x < y:
    small = x
else:
    small = y
small

25

In [ ]:
reduce(lambda a, b: a if (a<b) else b, res)  # so same as min(res)

### Homework

In [6]:
## Write 3 Functions evenCubes1,evenCubes2,evenCubes3 with the same functionality:

    
def evenCubes(alist):
    '''
    Returns a list of cubes for all even numbers in the list, cubes for odd numbers are filtered out
    '''
    res=[] # you do not have to use res in all functions
    return res 

# evenCubes1 must use normal for loops, anything you may like just no map no filter and no list comprehensions
# evenCubes2 must use map and filter
# evenCubes3 must use list comprehensions

## Use %%timeit evenCubes1(list(range(20))) for each function to see what/if any speed differences are between your 3 functions

In [6]:
def evenCubes1(alist):
    '''
    Returns a list of cubes for all even numbers in the list, cubes for odd numbers are filtered out
    '''
    res=[] # you do not have to use res in all functions
    for el in alist:
        if not el % 2:
            res.append(el**3)
    return res

In [19]:
%%timeit 
evenCubes1(range(20000))

5.77 ms ± 16.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [12]:
def evenCubes2(alist):
    return list(map(lambda x: x ** 3, (filter(lambda y: not y % 2, alist))))

In [15]:
%%timeit
evenCubes2(range(2000))

758 µs ± 7.61 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [16]:
def evenCubes3(alist):
    return [x**3 for x in alist if not x % 2]

In [18]:
%%timeit
evenCubes3(range(20000))

5.21 ms ± 8.25 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
# Bonus Reduce round
# Write a function to return multiplication product of all the list elements
def multList(alist):
    return None