# RCS W2D2 Variables and Data Types
## Useful Jupyter Commands
* Ctrl-Enter run cell inplace
* Shift-Enter run cell, select cell below
* Alt-Enter run cell, insert below (Option-Enter on Mac)
* Ctrl-Click multiple cursors when editing
* Setup custom keyboard shortcuts through Help -> Keyboard Shortcuts 
* ESC A - New Cell Above
* ESC B - New Cell Below

In [1]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [2]:
!dir

 Volume in drive C is New Volume
 Volume Serial Number is 8A1C-6B07

 Directory of C:\Users\vsd\Documents\Github\RCS_Python

06/16/2018  11:19 AM    <DIR>          .
06/16/2018  11:19 AM    <DIR>          ..
06/13/2018  05:08 PM    <DIR>          .ipynb_checkpoints
05/21/2018  03:59 PM    <DIR>          .vscode
05/23/2018  05:25 PM           274,038 altum.pdf
05/21/2018  04:04 PM                72 arg.py
05/21/2018  04:26 PM               456 argopt.py
05/21/2018  04:11 PM               248 argpos.py
05/23/2018  04:21 PM            96,129 combined.pdf
05/14/2018  05:51 PM               427 fibbo.py
05/14/2018  05:40 PM               347 fibo.py
05/28/2018  06:08 PM            15,622 geckodriver.log
05/21/2018  03:56 PM             4,349 Generate Password.ipynb
06/13/2018  03:05 PM             1,105 Git_Workflow.md
05/19/2018  01:15 PM             1,301 gp.py
05/14/2018  05:30 PM               217 hw.py
06/13/2018  03:05 PM    <DIR>          img
05/23/2018  04:53 PM           153,946 lemums.pdf
05/24/2018  05:32 PM           473,831 lena.png
05/14/2018  05:17 PM               151 main.py
05/21/2018  05:35 PM                42 my.csv
05/21/2018  05:57 PM            76,066 my.xlsx
05/14/2018  04:13 PM               120 myfile.bin
05/21/2018  05:38 PM                42 mytab.csv
05/19/2018  11:18 AM               342 my_deco.py
06/13/2018  03:05 PM    <DIR>          PDF
05/21/2018  04:51 PM               569 pow.py
05/21/2018  05:00 PM               641 powex.py
06/13/2018  05:50 PM            22,854 Python RCS W1D2 Introduction.ipynb
05/14/2018  04:27 PM            15,770 python-logo.png
05/28/2018  03:59 PM            17,905 RCS Flow Control.ipynb
05/19/2018  10:03 AM            31,153 RCS Python Anonymous Lambda Functions, Map, Filter, Reduce.ipynb
05/23/2018  03:53 PM            46,133 RCS Python argparse - passing arguments to your program.ipynb
05/19/2018  10:03 AM             7,390 RCS Python BeatifulSoup4.ipynb
05/14/2018  03:56 PM            36,091 RCS Python Classes.ipynb
05/21/2018  03:56 PM            37,977 RCS Python Closures and Generators.ipynb
05/23/2018  03:53 PM           363,130 RCS Python CSV files.ipynb
05/21/2018  03:56 PM            12,999 RCS Python Decorators.ipynb
05/21/2018  03:56 PM            12,094 RCS Python Errors and Exceptions.ipynb
05/17/2018  03:59 PM             4,417 RCS Python External Resources.ipynb
05/14/2018  03:56 PM            12,185 RCS Python File IO.ipynb
05/16/2018  03:48 PM            52,962 RCS Python File Operations.ipynb
05/14/2018  03:56 PM            14,087 RCS Python Functions.ipynb
05/29/2018  03:55 PM            16,179 RCS Python Graphical User Interfaces (GUI).ipynb
05/14/2018  03:56 PM             2,315 RCS Python Importing Modules.ipynb
05/14/2018  03:56 PM            16,686 RCS Python Math NumPy SymPy.ipynb
05/16/2018  03:48 PM            16,317 RCS Python Modules.ipynb
05/26/2018  11:06 AM         1,050,632 RCS Python NumPy.ipynb
05/23/2018  03:53 PM           223,260 RCS Python Pandas Tutorial.ipynb
05/24/2018  03:58 PM           250,840 RCS Python PDF processing.ipynb
05/21/2018  03:56 PM            26,299 RCS Python pip and virtualenv.ipynb
06/11/2018  12:22 PM            26,409 RCS Python Recursion.ipynb
06/13/2018  03:21 PM            19,498 RCS Python W1D2 Introduction.ipynb
05/31/2018  03:49 PM            10,909 RCS Python Web Development with Flask.ipynb
05/14/2018  03:56 PM            93,706 RCS Pyton Tabular Data.ipynb
06/16/2018  11:19 AM            28,213 RCS Variables and Data Types.ipynb
05/29/2018  03:55 PM            13,057 RCS Web Scraping with Selenium.ipynb
05/14/2018  03:56 PM               207 README.md
06/13/2018  03:05 PM    <DIR>          resources
05/21/2018  05:14 PM           113,183 Sample.csv
06/13/2018  03:05 PM    <DIR>          scripts
05/21/2018  04:43 PM               526 square.py
05/29/2018  03:55 PM    <DIR>          UI
05/19/2018  11:33 AM             8,019 Untitled.ipynb
05/28/2018  03:59 PM    <DIR>          vscode
05/14/2018  05:11 PM                49 weather.py
05/19/2018  11:19 AM    <DIR>          __pycache__
              56 File(s)      3,703,512 bytes
              11 Dir(s)  190,594,093,056 bytes free

In [ ]:

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise

In [3]:
import keyword  ## this is how we will be importing various modules/libraries

In [4]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Data types in Python 3.x
* Integers type(42) int 
* Floating Point type(3.14) float
* Boolean type(True),type(False) bool
* String(ordered, **immutable** char sequence) type("OyCaramba") str
* List type([1,2,63,"aha","youcanmixtypeinsidelist", ["even","nest"]]) list
* Dictionary(key:value pairs) type({"foo":"bar", "favoriteday":"Friday"}) dict
* Tuple - ordered immutable sequence type("sup",7,"dwarves") tup
* Set (unordered collection of uniques) ("k","a","r","t","u","p","e","l","i","s")

In [5]:
a=42
print(type(a), type(42))

<class 'int'> <class 'int'>

In [9]:
b=20
print(b, id(b))

20 1887072320

## id(object)

Return the “identity” of an object. 

This is an integer which is guaranteed to be unique and constant for this object during its lifetime. 
Two objects with non-overlapping lifetimes may have the same id() value.

#### CPython implementation detail: This is the address of the object in memory.

In [10]:
b+=22 # shortcut operator to add to existing value of a variable b = b + 22
# += /= -= *=
print(b)

42

In [11]:
id(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!

(1887073024,
 1887073024,
 1887073024,
 1887071776,
 1887071808,
 1887071840,
 93008080,
 93008048,
 93008528)

In [12]:
id(6)

1887071872

In [13]:
id(-1),id(0),id(1)

(1887071648, 1887071680, 1887071712)

In [21]:
id(7)
id(-6),id(-5),id(-4)

(93009680, 1887071520, 1887071552)

In [27]:
a is b

True

In [24]:
c = -6
d = -6

In [25]:
c,d

(-6, -6)

In [28]:
c == d

True

In [26]:
c is d

False

### Why is there 16 byte difference between id(3),id(4) ? Shouldn't it be 8 bytes?
### Extra credit! Find out which numbers have constant ids!

In [36]:
type(3.14)

float

In [ ]:
type(False),type(True)

In [38]:
type("AyAyOy")

str

In [32]:
type([1,6,3,4,1,1,2,2])

list

In [39]:
type({"foo":"bar", 1:2})

dict

In [40]:
type((1,6,3,3,5,"wow"))

tuple

In [41]:
type({2,"u","n","i","x"})

set

# Exercise:
    
    Assign a and b new values 1918 and 2018 respectively and then swap values in these variables.
    
    
    print(a,b) should show 2018, 1918

In [46]:
a = 1918
b = 2018

In [49]:
tmp = a
print(tmp, a, b)

1918 1918 2018

In [50]:
a = b
b = tmp

In [51]:
print(a,b)

2018 1918

In [55]:
c = 55
d = 77
print(c,d)

55 77

In [56]:
a, b, c, d = d, c, b, a

In [57]:
print(a,b,c,d)

77 55 2018 1918

## Floating Point

In [45]:
4/5 + 2/3 + 1/7

1.6095238095238096

In [43]:
0.1+0.2+0.3-0.6
# More on floating point https://docs.python.org/2/tutorial/floatingpoint.html

1.1102230246251565e-16

In [58]:
import math 
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [69]:
from math import tan as tangent

In [70]:
tangent(33)

-75.31301480008509

In [68]:
tan(66)

0.02656051777603939

In [66]:
sin(60)

-0.3048106211022167

In [62]:
sqrt = math.sqrta

In [63]:
sqrt(16)

4.0

In [59]:
print(16**0.5)
print(math.sqrt(16))

4.0
4.0

In [60]:
print(math.factorial(5))

120

In [61]:
math.sin()

## Strings
* immutable

In [71]:
name = "Valdis"
print(name)

Valdis

In [72]:
len(name)

6

In [73]:
name[0]

'V'

In [74]:
name[5],name[-1],name[-2]

('s', 's', 'i')

In [75]:
name[0:3]

'Val'

In [76]:
name[:4]

'Vald'

In [77]:
name[1:4]

'ald'

In [78]:
name[-3]

'd'

In [82]:
name[0:6:1]

'Valdis'

In [83]:
name[::1]

'Valdis'

In [87]:
name[1:6:2]

'ads'

In [88]:
name[::-1]

'sidlaV'

In [92]:
name[5:2:-1]

'sid'

In [94]:
name[3]='b'

TypeError: 'str' object does not support item assignment

In [97]:
#name[3]="b" # Vai tā drīkst?
name=name[0:3]+"d"+name[4:]
print(name)

Valdis

In [98]:
n2=name[:]
print(n2)
print(id(n2),id(name))
print(name[:])

Valdis
115812088 115812088
Valdis

In [102]:
name = "Voldemars"
print(n,n2,name)

Valbis Something Voldemars

In [101]:
n2 = "Something"

In [103]:
name=name[::-1]
print(name)

sramedloV

In [104]:
multi_string = """Really
Long
And
Boring
String"""
print(multi_string)

Really
Long
And
Boring
String

In [110]:
t = "Talk "+10
print(t)

TypeError: must be str, not int

In [111]:
str(555)

'555'

In [115]:
id('25'),id(25)

(92846880, 1887072480)

In [113]:
int('345')

345

In [112]:
?str

In [106]:
# Automatic string concatenation without +
funny_string = ('Monty '
'Python ' 
'Spam '*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam Monty Python Spam

In [128]:
print("It's \ta \"wonderful\" \nlife")

It's 	a "wonderful"
life

In [ ]:
print('Really really long line\

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [131]:
weekday="Tuesday"
month="June"
day=8
greeting = f'Today is {day}th of {month} which is {weekday}. Nice {month} isn\'t it ? '
print(greeting)
#nicer than format method

Today is 8th of June which is Tuesday. Nice June isn't it ?

In [140]:
seconds=345.24556
width=22 # how much space our formatted value should take up
precision=8 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{12}.{precision}} seconds since start of new era')
print(f'Elapsed {seconds:{7}.{5}} seconds since start of new era')
print(f'Number {5556.2222:{12}.{6}}')

Elapsed 345.24556 seconds since start of new era
Elapsed    345.24556 seconds since start of new era
Elapsed  345.25 seconds since start of new era
Number      5556.22

In [142]:
greeting[10:33:1]

'th of June which is Tue'

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

In [ ]:
food = ""

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [143]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [144]:
'Bread' in groceries

True

In [145]:
'Apples'  in groceries

False

In [147]:
name_list = list("Valdis")
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [148]:
name_list[3]

'd'

In [149]:
name_list[3]='b'
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [150]:
glist=list(groceries)
print(glist, id(glist), id(groceries))

['Bread', 'Eggs', 'Milk'] 92667784 92400456

In [151]:
glist2=groceries
print(id(glist2),id(groceries),id(glist))

92400456 92400456 92667784

In [154]:
glist == groceries

False

In [153]:
glist[2] = 'Apples'

In [157]:
glist.append('Peaches')

In [158]:
glist

['Bread', 'Eggs', 'Apples', 'Peaches']

In [159]:
glist == groceries

False

In [160]:
dir(glist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [162]:
x = list(range(1,10))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
y = [x*x for x in x]
print(y)
# List comprehensions! Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [164]:
sum(x),sum(y)

(45, 285)

In [165]:
len(x),len(y)

(9, 9)

In [166]:
y

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [169]:
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [171]:
z=(x+y)*3

In [172]:
z

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81]

In [173]:
tmp = y*2
print(tmp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [174]:
len(tmp)

18

In [175]:
tmp[3:8:2]

[16, 36, 64]

In [176]:
tmp[3:98:2]

[16, 36, 64, 1, 9, 25, 49, 81]

In [177]:
tmp[::-1]

[81, 64, 49, 36, 25, 16, 9, 4, 1, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [178]:
len(y)

9

In [179]:
dir(tmp)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [185]:
y.insert(0, 33)
y

[33, 33, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [186]:
55 in y

False

In [187]:
33 in y

True

In [188]:
y.index(16)

5

In [189]:
y.index(33)

0

In [192]:
# y.remove(33)
y.remove(33)
y

ValueError: list.remove(x): x not in list

In [194]:
y+=[11, -22, 66]
y

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 11, -22, 66]

In [195]:
y.sort()
y

[-22, 0, 1, 4, 9, 11, 16, 25, 36, 49, 64, 66, 81]

In [196]:
y.reverse()
y

[81, 66, 64, 49, 36, 25, 16, 11, 9, 4, 1, 0, -22]

In [197]:
x=y[::-1]
x

[-22, 0, 1, 4, 9, 11, 16, 25, 36, 49, 64, 66, 81]

In [198]:
z=x.pop(5)
print(x, z)

[-22, 0, 1, 4, 9, 16, 25, 36, 49, 64, 66, 81] 11

 ## Common list methods.

* `list.append(elem)` -- adds a single element to the end of the list. Common error: does not return the new list, just modifies the original.
* `list.insert(index, elem)` -- inserts the element at the given index, shifting elements to the right.
* `list.extend(list2)` adds the elements in list2 to the end of the list. Using + or += on a list is similar to using extend().
* `list.index(elem)` -- searches for the given element from the start of the list and returns its index. Throws a ValueError if the element does not appear (use "in" to check without a ValueError).
* `list.remove(elem)` -- searches for the first instance of the given element and removes it (throws ValueError if not present)
* `list.sort()` -- sorts the list in place (does not return it). (The sorted() function shown later is preferred.)
* `list.reverse()` -- reverses the list in place (does not return it)
* `list.pop(index)`-- removes and returns the element at the given index. Returns the rightmost element if index is omitted (roughly the opposite of append()).

In [207]:
list(range(55,59))

[55, 56, 57, 58]

In [200]:
tmp

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [199]:
tmp.count(64)
# We count occurences!

2

In [202]:
tmp.count('Valdis')

0

In [203]:
print(tmp.index(64))
tmp[7]

7

64

In [204]:
?tmp.index

In [ ]:
len(x)

In [205]:
[] is []

False

In [206]:
[] == []

True

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

In [217]:
nums = list(range(5,16))
nums

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [218]:
nums[:4]

[5, 6, 7, 8]

In [219]:
nums[-3:]

[13, 14, 15]

In [220]:
nums[-1:-4:-1]

[15, 14, 13]

In [221]:
avg = sum(nums) / len(nums)
avg

10.0

In [208]:
isCool = True
isCool

True

## Sets

* unordered
* uniques only
* curly braces {3, 6, 7}

In [222]:
s={3,3,6,1,3,6,7}
print(s)

{1, 3, 6, 7}

In [227]:
list(s)

[1, 3, 6, 7]

In [226]:
s.issuperset(range(6))

False

In [209]:
s2={3,6,76,2,8,8}
s2

{2, 3, 6, 8, 76}

In [213]:
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [228]:
s3=s.union(s2)
s3

{1, 2, 3, 6, 7, 8, 76}

In [229]:
s4=s.difference(s2)
s4

{1, 7}

In [230]:
s2.difference(s)

{2, 8, 76}

In [231]:
s.intersection(s2)

{3, 6}

In [212]:
s3=s+s2
s3

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
print(tmp)
set(tmp)

## Tuples

*  ordered
* immutable (cannot be changed!)
* Can be used as a collection of fields

In [232]:
mytuple = 6, 4, 9
print(mytuple)

(6, 4, 9)

In [233]:
mytuple[2]

9

In [235]:
mytuple.count(9)

1

In [236]:
mytuple.index(9)

2

In [234]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective. For example:

In [239]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
double= ('hello', 'super')
len(empty)
0
len(singleton)
1
print(empty,singleton,double)
#('hello',)
# The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

() ('hello',) ('hello', 'super')

In [241]:
lst=list(double)
lst

['hello', 'super']

In [ ]:
dir(singleton)

## Unpacking tuples

In [247]:
_, _, c = mytuple
print(c)

9

In [249]:
mytuple[2]

9

In [250]:
ytup = ([1,2,3], "Petr", 66)
ytup

([1, 2, 3], 'Petr', 66)

In [251]:
ytup[1] = 'Valdis'

TypeError: 'tuple' object does not support item assignment

In [252]:
ytup[2] = 'Valdis'

TypeError: 'tuple' object does not support item assignment

In [253]:
ytup[0] ='Valdis'

TypeError: 'tuple' object does not support item assignment

In [254]:
ytup[0][1] = 'Valdis'
ytup

([1, 'Valdis', 3], 'Petr', 66)

In [256]:
ytup[0].append('something')
ytup

([1, 'Valdis', 3, 'something', 'something'], 'Petr', 66)

In [248]:
_

4

In [244]:
_

4

In [242]:
a, b, c = mytuple
print(a, b, c)

6 4 9

In [245]:
55

55

In [246]:
_

4

In [ ]:
set(tmp)

In [258]:
x= range(10)
x

range(0, 10)

In [259]:
type(x)

range

In [260]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [261]:
x=range(1000000000)

In [263]:
y=list(x[45:66])
y

[45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65]

## in Python 3.X range returns an iterable(Lazy, values on demand, saves memory on longer iteration)
### in Python 2.7 range returned a list ! (xrange was the iterator version, not as fully featured as the current range)
Full list of differences: http://treyhunner.com/2018/02/python-3-s-range-better-than-python-2-s-xrange/

## Dictionaries

* Collection of Key - Value pairs
* also known as associative array
* unordered
* keys unique in one dictionary
* storing, extracting

In [264]:
tel = {'jack': 4098, 'sape': 4139}
print(tel)
tel['guido'] = 4127
print(tel.keys())
print(tel.values())

{'jack': 4098, 'sape': 4139}
dict_keys(['jack', 'sape', 'guido'])
dict_values([4098, 4139, 4127])

In [266]:
tel['valdis'] = 4127
tel

{'guido': 4127, 'jack': 4098, 'sape': 4139, 'valdis': 4127}

In [267]:
tel['jack']

4098

In [268]:
del tel['sape']

In [269]:
tel['sape']

KeyError: 'sape'

In [270]:
'valdis' in tel.keys()

True

In [271]:
'karlis' in tel.keys()

False

In [272]:
4127 in tel.values()

True

In [273]:
type(tel.values())

dict_values

In [274]:
dir(tel.values())

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [ ]:
tel['irv'] = 4127

In [ ]:
tel

In [275]:
list(tel.keys())

['jack', 'guido', 'valdis']

In [276]:
list(tel.values())

[4098, 4127, 4127]

In [281]:
sorted([5,7,1,66], reverse=True)

[66, 7, 5, 1]

In [280]:
?sorted

In [279]:
tel.keys()

dict_keys(['jack', 'guido', 'valdis'])

In [277]:
sorted(tel.keys())

['guido', 'jack', 'valdis']

In [ ]:
'guido' in tel

In [ ]:
'Valdis' in tel

In [282]:
t2=dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
print(t2)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [283]:
names = ['Valdis', 'valdis', 'Antons', 'Anna', 'Kārlis', 'karlis']
names

['Valdis', 'valdis', 'Antons', 'Anna', 'Kārlis', 'karlis']

In [284]:
sorted(names)

['Anna', 'Antons', 'Kārlis', 'Valdis', 'karlis', 'valdis']

* `globals()` always returns the dictionary of the module namespace
* `locals()` always returns a dictionary of the current namespace
* `vars()` returns either a dictionary of the current namespace (if called with no argument) or the dictionary of the argument.

In [289]:
'print(a,b)' in globals()['In']

True

In [291]:
vars().keys()

dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__builtin__', '__builtins__', '_ih', '_oh', '_dh', 'In', 'Out', 'get_ipython', 'exit', 'quit', '_', '__', '___', '_i', '_ii', '_iii', '_i1', '_1', '_i2', '_exit_code', '_i3', 'keyword', '_i4', '_4', '_i5', 'a', '_i6', 'b', '_i7', '_i8', '_i9', '_i10', '_i11', '_11', '_i12', '_12', '_i13', '_13', '_i14', '_14', '_i15', '_15', '_i16', '_16', '_i17', '_17', '_i18', '_18', '_i19', '_19', '_i20', '_20', '_i21', '_21', '_i22', '_22', '_i23', '_i24', 'c', 'd', '_i25', '_25', '_i26', '_26', '_i27', '_27', '_i28', '_28', '_i29', '_29', '_i30', '_30', '_i31', '_31', '_i32', '_32', '_i33', '_33', '_i34', '_34', '_i35', '_35', '_i36', '_36', '_i37', '_37', '_i38', '_38', '_i39', '_39', '_i40', '_40', '_i41', '_41', '_i42', '_42', '_i43', '_43', '_i44', '_44', '_i45', '_45', '_i46', '_i47', '_i48', 'tmp', '_i49', '_i50', '_i51', '_i52', '_i53', '_i54', '_i55', '_i56', '_i57', '_i58', 'math', '_58', '_i59', '_i60', '_i61', '_i62', 'sqrt', '_i63', '_63', '_i64', '_i65', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log1p', 'log10', 'log2', 'modf', 'pow', 'radians', 'sin', 'sinh', 'tan', 'tanh', 'trunc', 'pi', 'e', 'tau', 'inf', 'nan', '_i66', '_66', '_i67', '_i68', '_68', '_i69', 'tangent', '_i70', '_70', '_i71', 'name', '_i72', '_72', '_i73', '_73', '_i74', '_74', '_i75', '_75', '_i76', '_76', '_i77', '_77', '_i78', '_78', '_i79', '_79', '_i80', '_80', '_i81', '_81', '_i82', '_82', '_i83', '_83', '_i84', '_84', '_i85', '_85', '_i86', '_86', '_i87', '_87', '_i88', '_88', '_i89', '_89', '_i90', '_90', '_i91', '_91', '_i92', '_92', '_i93', 'n', '_i94', '_i95', '_i96', 'n2', '_i97', '_i98', '_i99', '_i100', '_i101', '_i102', '_i103', '_i104', 'multi_string', '_i105', 'funny_string', '_i106', '_i107', 't', '_i108', '_i109', '_i110', '_i111', '_111', '_i112', '_i113', '_113', '_i114', '_114', '_i115', '_115', '_i116', '_116', '_i117', '_i118', '_i119', '_i120', '_i121', '_i122', '_i123', '_i124', '_i125', '_i126', '_i127', '_i128', '_i129', 'weekday', 'month', 'day', 'greeting', '_i130', '_i131', '_i132', 'seconds', 'width', 'precision', '_i133', '_i134', '_i135', '_i136', '_i137', '_i138', '_i139', '_i140', '_i141', '_141', '_i142', '_142', '_i143', 'groceries', '_i144', '_144', '_i145', '_145', '_i146', 'name_list', '_i147', '_i148', '_148', '_i149', '_i150', 'glist', '_i151', 'glist2', '_i152', '_152', '_i153', '_i154', '_154', '_i155', '_i156', '_i157', '_i158', '_158', '_i159', '_159', '_i160', '_160', '_i161', '_i162', 'x', '_i163', 'y', '_i164', '_164', '_i165', '_165', '_i166', '_166', '_i167', '_167', '_i168', '_i169', '_169', '_i170', '_170', '_i171', 'z', '_i172', '_172', '_i173', '_i174', '_174', '_i175', '_175', '_i176', '_176', '_i177', '_177', '_i178', '_178', '_i179', '_179', '_i180', '_180', '_i181', '_i182', '_182', '_i183', '_183', '_i184', '_i185', '_185', '_i186', '_186', '_i187', '_187', '_i188', '_188', '_i189', '_189', '_i190', '_190', '_i191', '_191', '_i192', '_i193', '_193', '_i194', '_194', '_i195', '_195', '_i196', '_196', '_i197', '_197', '_i198', '_i199', '_199', '_i200', '_200', '_i201', '_201', '_i202', '_202', '_i203', '_203', '_i204', '_i205', '_205', '_i206', '_206', '_i207', '_207', '_i208', 'isCool', '_208', '_i209', 's2', '_209', '_i210', '_i211', 's', '_i212', '_i213', '_213', '_i214', 's3', '_214', '_i215', '_215', '_i216', 'nums', '_i217', '_217', '_i218', '_218', '_i219', '_219', '_i220', '_220', '_i221', 'avg', '_221', '_i222', '_i223', '_i224', '_224', '_i225', '_i226', '_226', '_i227', '_227', '_i228', '_228', '_i229', 's4', '_229', '_i230', '_230', '_i231', '_231', '_i232', 'mytuple', '_i233', '_233', '_i234', '_234', '_i235', '_235', '_i236', '_236', '_i237', 'empty', 'singleton', '_237', '_i238', '_i239', 'double', '_i240', '_240', '_i241', 'lst', '_241', '_i242', '_i243', '_i244', '_244', '_i245', '_245', '_i246', '_246', '_i247', '_i248', '_248', '_i249', '_249', '_i250', 'ytup', '_250', '_i251', '_i252', '_i253', '_i254', '_254', '_i255', '_i256', '_256', '_i257', '_i258', '_258', '_i259', '_259', '_i260', '_260', '_i261', '_i262', '_262', '_i263', '_263', '_i264', 'tel', '_i265', '_i266', '_266', '_i267', '_267', '_i268', '_i269', '_i270', '_270', '_i271', '_271', '_i272', '_272', '_i273', '_273', '_i274', '_274', '_i275', '_275', '_i276', '_276', '_i277', '_277', '_i278', '_278', '_i279', '_279', '_i280', '_i281', '_281', '_i282', 't2', '_i283', 'names', '_283', '_i284', '_284', '_i285', '_285', '_i286', '_286', '_i287', '_i288', '_288', '_i289', '_289', '_i290', '_290', '_i291'])