# RCS W2D2 Variables and Data Types
## Useful Jupyter Commands
* Ctrl-Enter run cell inplace
* Shift-Enter run cell, select cell below
* Alt-Enter run cell, insert below (Option-Enter on Mac)
* Ctrl-Click multiple cursors when editing
* Setup custom keyboard shortcuts through Help -> Keyboard Shortcuts

In [ ]:

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

False      class      finally    is         return
None       continue   for        lambda     try
True       def        from       nonlocal   while
and        del        global     not        with
as         elif       if         or         yield
assert     else       import     pass
break      except     in         raise

## Data types in Python 3.x
* Integers type(42) int 
* Floating Point type(3.14) float
* Boolean type(True),type(False) bool
* String(ordered, **immutable** char sequence) type("OyCaramba") str
* List type([1,2,63,"aha","youcanmixtypeinsidelist", ["even","nest"]]) list
* Dictionary(key:value pairs) type({"foo":"bar", "favoriteday":"Friday"}) dict
* Tuple - ordered immutable sequence type("sup",7,"dwarves") tup
* Set (unordered collection of uniques) ("k","a","r","t","u","p","e","l","i","s")

In [2]:
a=42
print(type(a), type(42))

<class 'int'> <class 'int'>

In [3]:
b=20
print(b, id(b))

20 1898344512

In [4]:

b+=22 # shortcut operator to add to existing value of a variable
id(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!

(1898345216,
 1898345216,
 1898345216,
 1898343968,
 1898344000,
 1898344032,
 110261232,
 110263024,
 110261296)

### Why is there 16 byte difference between id(3),id(4) ? Shouldn't it be 8 bytes?
### Extra credit! Find out which numbers have constant ids!

## id(object)
Return the “identity” of an object. This is an integer which is guaranteed to be unique and constant for this object during its lifetime. Two objects with non-overlapping lifetimes may have the same id() value.

CPython implementation detail: This is the address of the object in memory.

In [5]:
type(3.14)

float

In [6]:
type(False),type(True)

(bool, bool)

In [7]:
type("AyAyOy")

str

In [8]:
type([1,6,3,4,1,1,2,2])

list

In [9]:
type({"foo":"bar", 1:2})

dict

In [10]:
type((1,6,3,3,5,"wow"))

tuple

In [11]:
type({2,"u","n","i","x"})

set

In [12]:
globals()

{'In': ['',
  'b=20\nprint(b, id(b))',
  'a=42\nprint(type(a), type(42))',
  'b=20\nprint(b, id(b))',
  '\nb+=22 # shortcut operator to add to existing value of a variable\nid(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!',
  'type(3.14)',
  'type(False),type(True)',
  'type("AyAyOy")',
  'type([1,6,3,4,1,1,2,2])',
  'type({"foo":"bar", 1:2})',
  'type((1,6,3,3,5,"wow"))',
  'type({2,"u","n","i","x"})',
  'globals()'],
 'Out': {4: (1898345216,
   1898345216,
   1898345216,
   1898343968,
   1898344000,
   1898344032,
   110261232,
   110263024,
   110261296),
  5: float,
  6: (bool, bool),
  7: str,
  8: list,
  9: dict,
  10: tuple,
  11: set},
 '_': set,
 '_10': tuple,
 '_11': set,
 '_4': (1898345216,
  1898345216,
  1898345216,
  1898343968,
  1898344000,
  1898344032,
  110261232,
  110263024,
  110261296),
 '_5': float,
 '_6': (bool, bool),
 '_7': str,
 '_8': list,
 '_9': dict,
 '__': tuple,
 '___': dict,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['C:\\Users\\vsd\\Documents\\Github\\RCS_Python'],
 '_i': 'type({2,"u","n","i","x"})',
 '_i1': 'b=20\nprint(b, id(b))',
 '_i10': 'type((1,6,3,3,5,"wow"))',
 '_i11': 'type({2,"u","n","i","x"})',
 '_i12': 'globals()',
 '_i2': 'a=42\nprint(type(a), type(42))',
 '_i3': 'b=20\nprint(b, id(b))',
 '_i4': '\nb+=22 # shortcut operator to add to existing value of a variable\nid(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!',
 '_i5': 'type(3.14)',
 '_i6': 'type(False),type(True)',
 '_i7': 'type("AyAyOy")',
 '_i8': 'type([1,6,3,4,1,1,2,2])',
 '_i9': 'type({"foo":"bar", 1:2})',
 '_ih': ['',
  'b=20\nprint(b, id(b))',
  'a=42\nprint(type(a), type(42))',
  'b=20\nprint(b, id(b))',
  '\nb+=22 # shortcut operator to add to existing value of a variable\nid(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!',
  'type(3.14)',
  'type(False),type(True)',
  'type("AyAyOy")',
  'type([1,6,3,4,1,1,2,2])',
  'type({"foo":"bar", 1:2})',
  'type((1,6,3,3,5,"wow"))',
  'type({2,"u","n","i","x"})',
  'globals()'],
 '_ii': 'type((1,6,3,3,5,"wow"))',
 '_iii': 'type({"foo":"bar", 1:2})',
 '_oh': {4: (1898345216,
   1898345216,
   1898345216,
   1898343968,
   1898344000,
   1898344032,
   110261232,
   110263024,
   110261296),
  5: float,
  6: (bool, bool),
  7: str,
  8: list,
  9: dict,
  10: tuple,
  11: set},
 'a': 42,
 'b': 42,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x68f3320>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x00000000058C9390>>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x68f3320>}

## Floating Point

In [13]:
0.1+0.2

0.30000000000000004

In [14]:
0.1+0.2+0.3-0.6
# More on floating point https://docs.python.org/2/tutorial/floatingpoint.html

1.1102230246251565e-16

In [15]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [16]:
print(16**0.5)
print(math.sqrt(16))

4.0
4.0

In [17]:
print(math.factorial(5))

120

In [ ]:
## Strings
* immutable

In [18]:
name = "Valdis"
print(name)

Valdis

In [19]:
len(name)

6

In [20]:
name[0]

'V'

In [22]:
name[5],name[-1],name[-2]

('s', 's', 'i')

In [23]:
name[0:3]

'Val'

In [24]:
name[:4]

'Vald'

In [25]:
name[1:4]

'ald'

In [26]:
name[-3]

'd'

In [32]:
name[0:6:1],name[::1]

('Valdis', 'Valdis')

In [31]:
name[::-1]

'sidlaV'

In [35]:
#name[3]="b" # Vai tā drīkst?
n=name[0:3]+"b"+name[4:]
print(n)

Valbis

In [38]:
n2=name[:]
print(n2)
print(id(n2),id(name))
print(name[:])

Valdis
113625720 113625720
Valdis

In [39]:
name=name[::-1]
print(name)

sidlaV

In [40]:
multi_string = """Really
Long
And
Boring
String"""
print(multi_string)

Really
Long
And
Boring
String

In [41]:
# Automatic string concatenation without +
funny_string = ('Monty'
'Python' 
'Spam'*5)
print(funny_string)
# Notice that string multiplication happens after concatenation

MontyPythonSpamMontyPythonSpamMontyPythonSpamMontyPythonSpamMontyPythonSpam

## Fstrings (new since Python 3.6)
* faster way to format strings
* can use variables in current scope
* same idea as .format() but faster and easier to read

In [43]:
weekday="Tuesday"
month="May"
day=8
greeting = f'Today is {day}th of {month} which is {weekday}. Nice {month} isn\'t it ? '
print(greeting)
#nicer than format method

Today is 8th of May which is Tuesday. Nice May isn't it ?

In [56]:
seconds=345.24556
width=32 # how much space our formatted value should take up
precision=5 # how many digits to use
print(f'Elapsed {seconds} seconds since start of new era')
print(f'Elapsed {seconds:{width}.{precision}} seconds since start of new era')

Elapsed 345.24556 seconds since start of new era
Elapsed                           345.25 seconds since start of new era

### Python 3.X strings are Unicode by default no more 'u prefixes

## String Exercise: 
* Assign your favorite food to variable of your choosing
* Output 3rd letter of your favorite
* Output first 2 letters of your favorite
* Output last 3 letters of your favorite
* Output reverse of your favorite
* Output every 2nd character of your favorite in reverse

## Python Lists

* Ordered
* Mutable(can change individual members!)
* Comma separated between brackets [1,3,2,5,6,2]
* Can have duplicates
* Can be nested

In [57]:
groceries=['Bread','Eggs','Milk']
print(groceries)

['Bread', 'Eggs', 'Milk']

In [58]:
'Bread' in groceries

True

In [59]:
'Apples'  in groceries

False

In [61]:
name_list = list(name[::-1])
print(name_list)

['V', 'a', 'l', 'd', 'i', 's']

In [62]:
name_list[3]

'd'

In [64]:
name_list[3]='b'
print(name_list)

['V', 'a', 'l', 'b', 'i', 's']

In [67]:
glist=list(groceries)
print(glist, id(glist), id(groceries))

['Bread', 'Eggs', 'Milk'] 113850888 113246344

In [68]:
x = list(range(1,10))
print(x)
# Python 3.x range is an improved Python 2.x xrange!

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
y = [x*x for x in x]
print(y)
# List comprehensions! Pythonism! We'll talk about those again!

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
sum(x),sum(y)

(45, 285)

In [73]:
len(x),len(y)

(9, 9)

In [ ]:
y

In [74]:
x+y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
x-y

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [76]:
tmp = y*2
print(tmp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
len(tmp)

18

In [78]:
tmp[3:8:2]

[16, 36, 64]

In [79]:
tmp[3:98:2]

[16, 36, 64, 1, 9, 25, 49, 81]

In [ ]:
len(y)

In [80]:
dir(tmp)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [81]:
tmp.count(64)
# We count occurences!

2

In [84]:
print(tmp.index(64))
tmp[7]

7

64

In [82]:
?tmp.index

In [ ]:
len(x)

In [85]:
[] is []

False

In [87]:
[] == []

True

## List exercise
* create list of number 5 to 15 (included) and assign to a variable
* output first 4 numbers
* output last 3 numbers
* output last 3 numbers in reversed order
* extra credit output average!

## Sets

* unordered
* uniques only
* curly braces {3, 6, 7}

In [88]:
s={3,3,6,1,3,6,7}
print(s)

{1, 3, 6, 7}

In [91]:
print(tmp)
set(tmp)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 1, 4, 9, 16, 25, 36, 49, 64, 81]

{1, 4, 9, 16, 25, 36, 49, 64, 81}

## Tuples

*  ordered
* immutable (cannot be changed!)
* Can be used as a collection of fields

A special problem is the construction of tuples containing 0 or 1 items: the syntax has some extra quirks to accommodate these. Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective. For example:

In [ ]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)
0
len(singleton)
1
singleton
#('hello',)
# The statement t = 12345, 54321, 'hello!' is an example of tuple packing: the values 12345, 54321 and 'hello!' are packed together in a tuple. The reverse operation is also possible:

In [ ]:
dir(singleton)

In [92]:
mytuple = 6, 4, 9
print(mytuple)

(6, 4, 9)

In [96]:
a, _, c = mytuple
print(a, c)

6 9

In [ ]:
set(tmp)

## in Python 3.X range returns an iterable(Lazy, values on demand, saves memory on longer iteration)
### in Python 2.7 range returned a list ! (xrange was the iterator version, not as fully featured as the current range)
Full list of differences: http://treyhunner.com/2018/02/python-3-s-range-better-than-python-2-s-xrange/

## Dictionaries

* Collection of Key - Value pairs
* also known as associative array
* unordered
* keys unique in one dictionary
* storing, extracting

In [1]:
tel = {'jack': 4098, 'sape': 4139}
print(tel)
tel['guido'] = 4127
print(tel.keys())
print(tel.values())

{'jack': 4098, 'sape': 4139}
dict_keys(['jack', 'sape', 'guido'])
dict_values([4098, 4139, 4127])

In [2]:
tel['jack']

4098

In [3]:
del tel['sape']

In [5]:
tel['irv'] = 4127

In [6]:
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [7]:
list(tel.keys())

['jack', 'guido', 'irv']

In [8]:
list(tel.values())

[4098, 4127, 4127]

In [9]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [10]:
'guido' in tel

True

In [11]:
'Valdis' in tel

False

In [12]:
t2=dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
print(t2)

{'sape': 4139, 'guido': 4127, 'jack': 4098}